*{
  outline: none;
  :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
body{
  font-family: $font1;
}
.main-container{
  background-color: $color2;
}
.container{
  min-width: 1141px;
  padding: 0 70px;
}
.row{
  :before {
    display: table;
    content: " ";
  }
}


