.header{
  background-color: #ffffff;
  height: 77px;
  border-bottom: 3px solid $color1;
  .container{
    height: 100%;
  }
  .header-bookmarks{
    display: inline-block;
    padding-left: 11px;
    padding-top: 35px;
    position: relative;
    padding-right: 30px;
    &-wrap-border{
      border-bottom: 2px solid #9ca6ac;
    }
    &-count{
      font-family: $font1;
      font-weight: 400;
      font-size: 18px;
      display: inline-block;
    }
    &-text{
      font-family: $font1;
      font-weight: 600;
      font-size: 18px;
      display: inline-block;
      letter-spacing: 0.3px;
    }
    &-star{
      padding-left: 11px;
      display: inline-block;
      position: absolute;
      right: 2px;
      bottom: -2px;
    }
  }
  .header-user{
    display: inline-block;
    position: relative;
    padding-left: 47px;
    letter-spacing: 0.5px;
    &-arrow{
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 27px;
    }
    &-name{
      display: inline-block;
      font-family: $font1;
      font-size: 18px;
      font-weight: 400;
      .bold{
        font-weight: 600;
      }
    }
  }
  .header-logo{
    display: inline-block;
    float: right;
    padding-right: 12px;
    padding-top: 26px;
  }

}