.under-header{
  background-color: $color3;
  padding-top: 27px;
  display: inline-block;
  width: 100%;
  &-search{
    background-color: #ffffff;
    //height: 55px;
    border: 3px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 19px;
    padding: 9px 16px 11px 9px;
    &-button{
      background-color: $color4;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      font-family: $font1;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      height: 35px;
      text-align: right;
      min-width: 124px;
      padding: 0 10px;
      max-width: 30%;
      vertical-align: middle;
      &-text{
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
        letter-spacing: 0.2px;
      }
      &-icon{
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-input-wrap{
      text-align: right;
      display: inline-block;
      position: relative;
      width:calc(100% - 130px);
      text-align: right;
      vertical-align: middle;
    }
    &-input{
      display: inline-block;
      min-width: 85%;
      border: none;
      text-align: right;
      margin-right: 39px;
    }
    &-text{
      display: inline-block;
      color: $color5;
      padding-right: 21px;
      font-size: 18px;
      font-weight: 600;
    }
    &-icon{
      display: inline-block;
      position: absolute;
      top: 2px;
      right: -4px;
    }
  }
  .under-header-filter-button{
    background-color: $color4;
    color: #ffffff;
    font-family: $font1;
    font-weight: 600;
    font-size: 18px;
    float: right;
  }
}