/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bold {
  font-weight: bold; }

* {
  outline: none; }
  * :after, * :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
  font-family: "Assistant", sans-serif; }

.main-container {
  background-color: #f8f8f6; }

.container {
  min-width: 1141px;
  padding: 0 70px; }

.row :before {
  display: table;
  content: " "; }

.header {
  background-color: #ffffff;
  height: 77px;
  border-bottom: 3px solid #ffcc00; }
  .header .container {
    height: 100%; }
  .header .header-bookmarks {
    display: inline-block;
    padding-left: 11px;
    padding-top: 35px;
    position: relative;
    padding-right: 30px; }
    .header .header-bookmarks-wrap-border {
      border-bottom: 2px solid #9ca6ac; }
    .header .header-bookmarks-count {
      font-family: "Assistant", sans-serif;
      font-weight: 400;
      font-size: 18px;
      display: inline-block; }
    .header .header-bookmarks-text {
      font-family: "Assistant", sans-serif;
      font-weight: 600;
      font-size: 18px;
      display: inline-block;
      letter-spacing: 0.3px; }
    .header .header-bookmarks-star {
      padding-left: 11px;
      display: inline-block;
      position: absolute;
      right: 2px;
      bottom: -2px; }
  .header .header-user {
    display: inline-block;
    position: relative;
    padding-left: 47px;
    letter-spacing: 0.5px; }
    .header .header-user-arrow {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 27px; }
    .header .header-user-name {
      display: inline-block;
      font-family: "Assistant", sans-serif;
      font-size: 18px;
      font-weight: 400; }
      .header .header-user-name .bold {
        font-weight: 600; }
  .header .header-logo {
    display: inline-block;
    float: right;
    padding-right: 12px;
    padding-top: 26px; }

.under-header {
  background-color: #eaeef0;
  padding-top: 27px;
  display: inline-block;
  width: 100%; }
  .under-header-search {
    background-color: #ffffff;
    border: 3px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 19px;
    padding: 9px 16px 11px 9px; }
    .under-header-search-button {
      background-color: #0398db;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      font-family: "Assistant", sans-serif;
      font-size: 14px;
      font-weight: 600;
      display: inline-block;
      height: 35px;
      text-align: right;
      min-width: 124px;
      padding: 0 10px;
      max-width: 30%;
      vertical-align: middle; }
      .under-header-search-button-text {
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
        letter-spacing: 0.2px; }
      .under-header-search-button-icon {
        display: inline-block;
        vertical-align: middle; }
    .under-header-search-input-wrap {
      text-align: right;
      display: inline-block;
      position: relative;
      width: calc(100% - 130px);
      text-align: right;
      vertical-align: middle; }
    .under-header-search-input {
      display: inline-block;
      min-width: 85%;
      border: none;
      text-align: right;
      margin-right: 39px; }
    .under-header-search-text {
      display: inline-block;
      color: #03a9f4;
      padding-right: 21px;
      font-size: 18px;
      font-weight: 600; }
    .under-header-search-icon {
      display: inline-block;
      position: absolute;
      top: 2px;
      right: -4px; }
  .under-header .under-header-filter-button {
    background-color: #0398db;
    color: #ffffff;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
    font-size: 18px;
    float: right; }
